# Build directories
build/
bin/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/

# Object files and libraries
*.o
*.so
*.a
*.lib
*.dll
*.exe

# Temporary files
*.tmp
*.log
*.swp
*.swo
*.DS_Store
*.rdb

# IDE-specific files
.vscode/
.idea/
*.code-workspace

# Backup files
*~
*.bak
*main

test/correctness/__pycache__
test/utils/__pycache__