# Build directories
build/
bin/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Object files and libraries
*.o
*.so
*.a
*.lib
*.dll
*.exe

# Temporary files
*.tmp
*.log
*.swp
*.swo
*.DS_Store

# IDE-specific files
.vscode/
.idea/
*.code-workspace

# Backup files
*~
*.bak
*main
*client
